@import '../../../styles/variables.less';

.dashboard-orders-card {
  margin-top: 24px;
  
  .ant-card-head-title {
    span {
      font-weight: 600;
    }
  }

  .ant-card-body {
    padding: 0 24px 24px 24px;
  }
}
