@import '@/styles/variables.less';

.product-upsert-page {
  .upsert-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    padding: @space-sm var(--space-lg);
    margin: calc(@space-lg * -1) calc(@space-lg * -1) @space-lg;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);

    .ant-breadcrumb {
      margin-bottom: @space-xxs;
    }
  }
}
