@import '@/styles/variables.less';

.product-upsert-page {
  .upsert-header {
    margin-bottom: @space-xl;
    
    .ant-breadcrumb {
      margin-bottom: @space-xs;
    }
    
    .header-title-row {
      margin-top: @space-sm;
    }
  }

  .form-container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

