/* src/modules/product/styles/product.less */
@import "../../../styles/variables.less";

.product-list-wrapper {
  .product-header {
    margin-bottom: 24px;
    
    h2 {
      /* Example extending global variables styling */
      color: var(--primary-color) !important;
    }
  }

  .product-table {
    background-color: var(--body-bg);
    border-radius: @border-radius-base;
    box-shadow: @box-shadow-base;
    overflow: hidden;
  }
}
