/* src/components/common/AppLoader/AppLoader.less */
.app-loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--primary-color);
}
