/* src/components/common/PageHeader/PageHeader.less */
.page-header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 16px;
  margin-bottom: 24px;
}

.page-header-title {
  h2 {
    margin: 0;
  }
  
  .page-header-subtitle {
    color: var(--text-secondary);
    font-size: var(--h5-size);
  }
}
